.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    align-items: center;
    background-color: #3f51b5;
    padding:8px;
    border-radius: 12px;
}

.nav-item {
    text-align: center;
    color:#fff;
    align-self: center;

}